{% extends 'base.html' %}

{% block content %}
    <table class="table">
        <thead>
        <tr>
            <th>Task names</th>
            <th>Task types</th>
            <th>Task attributes</th>
        </tr>
        </thead>
        <tbody>
        {% for info in process_info %}
            <tr>
                <td> {{ info.0 }}</td>
                <td> {{ info.1 }}</td>
                {% if info.2 != 'empty' %}
                    <td>
                    {{ info.2 }}
                    </td>
                {% else %}
                    <td> {{ '' }}</td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}