{% extends 'base.html' %}

{% block content %}
    <table class="table">
        <thead>
        <tr>
            <th>Asset names</th>
            <th>Asset types</th>
            <!--<th>Asset attributes</th>-->
        </tr>
        </thead>
        <tbody>
        {% for task in task_list %}
            <tr>
                <td>
                    <form method="POST" action="{% url 'task_enrichment' task.pk %}">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-primary btn-sm">{{ task.name }}</button>
                    </form>
                </td>
                <td> {{ task.task_type }}</td>
                <!--{% if info.1 != 'empty' %}
                    <td>
                    {{ info.1 }}
                    </td>
                {% else %}
                    <td> {{ '' }}</td>
                {% endif %}-->
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}