{% extends 'base.html' %}

{% block content %}

    <h1>Create system</h1>
      <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
          {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Create</button>
      </form>

    <h1>Systems created</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Select file</th>
                <th>Delete file</th>
            </tr>
        </thead>
        <tbody>
            {% for system in systems %}
                <tr>
                    <td> {{ system.name }}</td>
                    <td>
                        <form method="POST" action="{% url 'bpmn_process_management' system.pk %}">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-primary btn-sm">Select file</button>
                        </form>
                    </td>
                    <td>
                        <form method="POST" action="{% url 'delete_system' system.pk %}">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger btn-sm">Delete file</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}