{% extends 'base.html' %}

{% block content %}
    <h1>Upload process</h1>
      <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
          {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Upload file</button>
      </form>

    <h1>Uploaded process</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Download file</th>
                <th>Select file</th>
                <th>Delete file</th>
            </tr>
        </thead>
        <tbody>
            {% for process in processes %}
                <tr>
                    <td> {{ process.name }}</td>
                    <td>
                        <a href="{{ process.xml.url }}" class="btn btn-primary btn-sm">
                            Download file
                        </a>
                    </td>
                    <td>
                        <form method="POST" action="{% url 'process_view' process.pk %}">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-primary btn-sm">Select file</button>
                        </form>
                    </td>
                    <td>
                        <form method="POST" action="{% url 'delete' process.pk %}">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger btn-sm">Delete file</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}